
.centrage-portfolio{
margin : auto ;
display: flex ;
flex-wrap: wrap ;
background-color: red;
align-items: flex-start;
}

.container-portfolio {
position: relative;
width: 22%;
margin: 15px;
}

.image-porfolio {
width: 100%;
height: auto;
}

.portfolio-p{
padding-left: 15px;
}

.icone-porfolio{
position: absolute;
transform: translateY(-50%);
border-radius: 9999px;
background-color: blue;
border: 2px solid white ;
right: 10px;
padding: 14px 12px ;
top: 0;
}

.overlay {
position: absolute;
bottom: 4px;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.5); 
color: white;
width: 100%;
transition: .5s ease;
opacity:0;
font-size: 20px;
height: 33%;
text-align: left;
}

.container-portfolio:hover .overlay {
  opacity: 1;
}