body {
margin: 0;
padding: 0;
}

.portfolioimg{
margin : auto ;
display: flex ;
flex-wrap: wrap ;
background-color: red;
align-items: flex-start;
width: 100% ;
}

.container-portfolio {
position: relative;
width: calc(25% - 50px);
margin: 25px ;
overflow: hidden;
}

.image-porfolio {
width: 100%;
height: auto;
}

.portfolio-p{
margin : 0;
padding: 0 ;
}

.icone-porfolio{
position: absolute;
transform: translateY(-50%);
border-radius: 9999px;
background-color: blue;
border: 2px solid white ;
right: 10px;
padding: 14px 12px ;
top: 0;
}

.overlay {
position: absolute;
bottom: 4px;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.5); 
color: white;
width: 100%;
transition: .5s ease;
opacity:0;
font-size: 20px;
height: 33%;
text-align: left;
}

.container-portfolio:hover .overlay {
  opacity: 1;
}

@media all and (min-width: 960px) and (max-width: 1199px) {
.container-portfolio {
position: relative;
width: calc(50% - 50px);
margin: 25px ;
}
}

@media all and (max-width: 959px) {
.container-portfolio {
position: relative;
width: calc(100% - 50px);
margin: 25px ;
}
}